body {
    background: #c2ded1;
    font-family: 'Nunito', sans-serif;
}

#navbar {
    font-size: 1,5rem;
    font-weight: 100;
}

#navbar .nav-link {
    color: yellow;
}
/* #navbar .nav-link:hover {
    color: yellow;
    font-size: 1.5rem;
} */

#navbar .navbar-brand {
    color: yellow;
    font-size: 1,5rem;
}

.blurb h2{
    color: #d0ff00;
    font-weight: 100;
    font-size: 2,5rem;
}

.blurb p {
    color: #01eeff;
    font-weight: 100;
    font-size: 1,125rem;
    line-height: 2;
}